- var author = 'Giacomo Giko Zinetti'
- var title = 'Giacomo Giko Zinetti 👾 Geek Frontend Developer'
- var description = 'Curriculum vitae di uno sviluppatore web. Dal server al client.'
- var keywords = 'Giacomo, Zinetti, giko, curriculum vitae, web, developer, frontend'
- var themeColor = '#000000'
- var gaCode = 'UA-28055358-1'

doctype html
html(lang="it")
  head
    title #{title}

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    meta(name="description" content="#{description}")
    meta(name="keywords" content="#{keywords}")
    meta(name="author" content="#{author}")
    meta(name="theme-color" content="#{themeColor}")
    meta(name="apple-mobile-web-app-status-bar-style" content="#{themeColor}")

    meta(property="og:site_name" content="#{title}")
    meta(property="og:image" content="https://giko.it/assets/img/profilo-2017.jpg")
    meta(property="og:title" content="#{title}")
    meta(property="og:description" content="#{description}")
    meta(name="msapplication-config" content="/browserconfig.xml")

    link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#d40000")

    //- link(rel="manifest" href="/manifest.json")
    link(rel="author" href="/humans.txt" type="text/plain")
    link(rel="author" href="https://plus.google.com/u/0/+GiacomoZinetti")
    link(rel="stylesheet" href="/assets/css/critical.css" inline)


  body(class="non-è-acqua 👾")
    link(rel="import" href="components/business-card.html")
    a(href="https://cv.giko.it")
      business-card(
        name="Giko"
        job-title="Geek Frontend Developer"
        avatar="/assets/img/profilo-2017.jpg"
        logo="/assets/img/icons/android-chrome-192x192.png"
        id="test"
      )

    script(src="/assets/js/giko.js" async)
