mixin icon(name)
    svg(class="🃏 🃏--#{ name }" role="img" aria-label="#{ name }")
        use(xlink:href="##{ name }")

mixin title(name)
    h2(class="🎬" id="_#{name}")
        a(class="🎬__⚓️" href="#_#{name}")
            +icon(name)
        block


- var author = 'Giacomo Giko Zinetti'
- var title = 'Giacomo Zinetti 🎲 Giko: a Nerd Frontend developer'
- var description = 'Curriculum vitae di uno sviluppatore web. Dal server al client.'
- var keywords = 'Giacomo, Zinetti, giko, curriculum vitae, web, developer, frontend'
- var themeColor = '#023B91'
- var favicon = '/assets/img/favicon-profilo.jpg'
- var gaCode = 'UA-28055358-1'

doctype html
html(manifest="giko.appcache")
    head
        title #{title}

        meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
        meta(http-equiv="Accept-CH" content="DPR, Viewport-Width, Width")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        meta(name="description" content="#{description}")
        meta(name="keywords" content="#{keywords}")
        meta(name="author" content="#{author}")
        meta(name="theme-color" content="#{themeColor}")
        meta(name="apple-mobile-web-app-status-bar-style" content="#{themeColor}")

        meta(property="og:site_name" content="#{title}")
        meta(property="og:image" content="https://giko.it/assets/img/profilo.jpg")
        meta(property="og:title" content="#{title}")
        meta(property="og:description" content="#{description}")

        link(rel="shortcut icon" href="#{favicon}" type="image/png")
        link(rel="icon" href="#{favicon}" type="image/png")

        link(rel="stylesheet" href="/assets/css/giko.css")

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '#{gaCode}', 'giko.it');ga('send', 'pageview');

    body(class="non-è-acqua 👾")
        div(class="🖼")
            include assets/icons/sprite/icons.svg

        div(class="🔝")
            img(
                class="🔝__😀"
                src="/assets/img/profilo.jpg"
                alt="Giacomo Zinetti Foto"
            )
            div(class="🔝__🎬").
                Giacomo Zinetti <span class="🚫@🖨"><em>is</em> Giko</span>
            div(class="🌍")
                a(
                    class="🌍__⚓️"
                    href="https://github.com/giacomozinetti"
                    title="Github"
                )
                    +icon('github')
                a(
                    class="🌍__⚓️"
                    href="http://it.linkedin.com/in/giacomozinetti"
                    title="LinkedIn"
                )
                    +icon('linkedin')
                a(
                    class="🌍__⚓️"
                    href="http://twitter.com/giacomozinetti"
                    title="Twitter"
                )
                    +icon('twitter')
                a(
                    class="🌍__⚓️"
                    href="https://medium.com/@giacomozinetti"
                    title="Medium"
                )
                    +icon('medium')
                a(
                    class="🌍__⚓️"
                    href="mailto:giacomo.zinetti@giko.it"
                    title="email"
                )
                    +icon('email')

        div(class="🖥")
            p.
                Hello world! Sono un programmatore nato il 15 giugno 1984 e vivo a Bregnano, un paesino tranquillo in provincia di Como.
            p.
                La mia passione è il web e la coltivo ogni giorno costruendo siti e applicazioni migliori con UX innovative, grafiche accattivanti e utilizzando le più recenti tecnologie. Adoro lavorare in team con altri fanatici del web con i quali condividere le esperienze e la passione comune.

            div(class="🔛 🚫@🖨")
                a(class="🔴" href="/assets/pdf/zinetti-giacomo-cv.pdf")
                    | Download the CV

            //- +title('code') CV in Breve

            //- p.
            //-     Sono principalmente uno sviluppatore frontend con ottima conoscenza di <strong>JavaScript</strong>, <strong>CSS</strong> e <strong>HTML</strong>. Adoro spingere al limite le <strong>prestazioni</strong> di ogni sito ottimizzandone ogni aspetto. Sviluppo <strong>backend</strong> con Nodejs, PHP e Python.
            //- p.
            //-     Ho fatto esperienza in web agency

            +title('business')
                | Esperienze lavorative

            dl(class="🏢")
                dt <strong>Senior frontend developer</strong> in <a href="http://www.objectway.it/" class="🖥__⚓️">Objectway</a> da Marzo 2015
                dd Supporto specializzato per HTML, CSS, JS e UX a disposizione degli sviluppi dei prodotti aziendali. Definizione di <strong>styleguide</strong> di sviluppo condivise.
                dt <strong>Full-stack web developer</strong> in <a href="http://www.bryan.it/" class="🖥__⚓️">Bryan</a> da Novembre 2013 a Marzo 2015
                dd Sviluppo siti principalmente su piattaforma <strong>WordPress</strong> gestendo l'intero processo di sviluppo, dalla configurazione dei server alla realizzazione dei template, passando per lo sviluppo di plugin. Lavori per clienti come <a href="http://www.boggi.it" class="🖥__⚓️">Boggi Milano</a> e <a href="http://www.atala.it" class="🖥__⚓️">Atala</a>.
                dt <strong>Frontend developer</strong> in <a href="http://www.sowre.com/" class="🖥__⚓️">Sowre</a> da Aprile 2013 a Novembre 2013
                dd Sviluppatore di temi (HTML, CSS e JS) su IBM WebSphere Portal per clienti come <a href="http://www.armani.it/" class="🖥__⚓️">Giorgio Armani</a> e <a href="http://www.venturatravel.it/" class="🖥__⚓️">Ventura</a>. Sviluppo dei template HTML per il sito mobile di <a href="http://www.moby.it/" class="🖥__⚓️">Moby</a>.
                dt <strong>Web developer</strong> in <a href="http://www.prodigys.it/" class="🖥__⚓️">Prodigys Group</a> da Marzo 2010 ad Aprile 2013
                dd <strong>Frontend</strong> di molti siti con particolare attenzione al crossbrowsing (ie6+) pixel perfect e siti responsive per clienti come <a href="http://www.vodafone.it/" class="🖥__⚓️">Vodafone Italia</a> (Home-page 2011 e SERP 2012) e <a href="http://www.allianz.it/" class="🖥__⚓️">Allianz</a> (sito mobile). Siti ottimizzati per sopportare grossi carichi di visite (<a href="http://offerte-adsl.vodafone.it/promozione/" class="🖥__⚓️">Landing offerte ADSL Vodafone</a>). Diversi <strong>tool amministrativi</strong> sviluppati in PHP e Python.

            +title('star')
                | Competenze tecniche

            table
                tr
                    th JavaScript
                    td EcmaScript 5, ES2015 e ES2016, Babel, Nodejs e npm, Express, task runners (Gulp e Grunt), Yeoman, Bower, template engine (Handlebars, Mustache), jQuery + plugins, Angular, Backbone, Underscore, Twitter Bootstrap, Moment e molte altre librerie
                tr
                    th CSS
                    td CSS3, SASS e SCSS, LESS, BEM, cross browsing pixel perfect, media queries, responsive design, approccio mobile first, Twitter Bootstrap
                tr
                    th HTML
                    td HTML4, HTML5, XHTML 1.1, preprocessori HTML (Jade, Haml), validazione W3C, markup semantico
                tr
                    th Performance
                    td Ottimizzazione risorse, algoritimi di compressione immagini, protocollo HTTP, SPDY e HTTP2, client hints, New Relic
                tr
                    th Server
                    td Unix, Nginx, Apache, configurazione SSL, Let's Encrypt, Amazon Web Services, Digital Ocean
                tr
                    th PHP
                    td Wordpress, Silex, Twig
                tr
                    th DBMS
                    td MySql, MongoDB
                tr
                    th Python
                    td Django, Flask
                tr
                    th Altre
                    td API (Google Maps, Twitter, Instagram, Facebook), Git, Mercurial, SVN, Sublime Text, Mac OS X, Windows, Photoshop, Illustrator, servizi REST

            +title('school')
                | Formazione

            dl
                dt <strong>Ingegneria informatica</strong> al <a href="http://www.polimi.it/" class="🖥__⚓️">Politecnico di Milano</a> dal 2004 al 2009
                dd Studi interrotti per motivi di lavoro. Tra gli esami superati Informatica 1, 2 e 3, Applicazioni ipermediali, Basi di dati, Statistica, Fondamenti di ricerca operativa, Analisi 1 e 2.
                dt <strong>Tirocinio J2EE</strong> in <a href="http://www.consoft.it/" class="🖥__⚓️">Consoft Sistemi</a> da Maggio a Luglio 2008
                dd
                dt Certificazione <strong>TOEFL</strong> ottenuta il 5 Maggio 2007
                dd
                dt Scuola superiore al <a href="http://www.gbgrassi.it/" class="🖥__⚓️"><strong>Liceo Scientifico</strong> G. B. Grassi</a> di Saronno dal 1998 al 2003
                dd

            +title('computer')
                | Side-projects

            dl
                dt <a href="http://www.tchoukball.it/" class="🖥__⚓️">Federazione TchoukBall Italia</a> dal 2002
                dd Responsabile e sviluppatore del sito federale, dei tool gestionali interni e delle community della federazione nazionale di questo sport innovativo. [Wordpress, PHP, MySql]
                dt <a href="http://www.saronnocomets.it/" class="🖥__⚓️">Saronno TchoukBall Club</a> dal 2006
                dd Sito istituzionale del club nel quale gioco, il primo club italiano di TchoukBall. [Wordpress, PHP]
                dt <a href="http://www.youtchouk.com" class="🖥__⚓️">YouTchouk</a> dal 2012
                dd Frontend e pannello di amministrazione di un portale per video di tchoukball. [YouTube API, jQuery, Backbone, Underscore]
                dt <a href="http://giacomozinetti.github.io/haralyzer/" class="🖥__⚓️">Haralyzer</a> dal 2013
                dd Tool per confrontare HAR files utile nelle analisi delle performance. [Angular]

            p Sorgenti e altri progetti sulla <a href="https://github.com/giacomozinetti/" class="🖥__⚓️">mia pagina <strong>Github #[+icon('github')]</strong></a>

            +title('flight')
                | Altro su di me

            p.
                Adoro vivere il nostro mondo non solo attraverso un monitor ma anche viaggiando, fotografando, facendo il giocoliere, guidando (moto in particolare), andando in snowboard, facendo giochi in scatola e stando con gli amici.
            p.
                Infine mi piace giocare ad un nuovo strano sport chiamato <a href="http://www.tchoukball.it" class="🖥__⚓️">TchoukBall</a>.

        div(class="📋 🚫@🖨")
            label(class="🔴 🔴--🃏 ✅@💲")
                +icon('colorize')
                input(type="color" value="#2196f3" class="js-color-switcher")
            a(class="🔴 🔴--🃏" href="/assets/pdf/zinetti-giacomo-cv.pdf")
                +icon('pdf')

        script(src="/assets/js/giko.js" async)
