- var author = 'Giacomo Giko Zinetti'
- var title = 'Giacomo Giko Zinetti 👾 Geek Frontend Developer'
- var description = 'Curriculum vitae di uno sviluppatore web. Dal server al client.'
- var keywords = 'Giacomo, Zinetti, giko, curriculum vitae, web, developer, frontend'
- var themeColor = '#d40000'
- var gaCode = 'UA-28055358-1'

mixin icon(name)
  div&attributes(attributes)
    svg(role="img" aria-label="#{name}")
      use(xlink:href="/assets/icons/icons.svg##{name}")

mixin title(icon, link)
  h1
    a.title(href="##{link}")
      +icon(icon)(class="title__icon")
      block

mixin mainTitle(icon, link)
  h1
    a.title.title--main(href="##{link}")
      +icon(icon)(class="title__icon title__icon--main")
      block

mixin social(name, link)
  - var text = link.replace(/^(mailto:|https?:\/\/)/i, "");
  a(class="contact" href=link title=name)&attributes(attributes)
    +icon(name)(class="contact__icon")
    = text

mixin work(name, url, logo, role, dates, tech)
  li.work(itemscope itemtype="http://schema.org/Organization")
    picture
      source(srcset="/assets/img/logo-#{logo}.webp" type="image/webp")
      img(
        class="work__logo"
        src="/assets/img/logo-#{logo}.png"
        alt="#{name} Logo"
        itemprop="logo"
      )
    div
      .work__title
        span #{dates} — <span>#{role}</span>
        a(href=url itemprop="url")
          | @<strong itemprop="name">#{name}</strong>
      .work__tech #{tech}

mixin tech(name, code)
  .tech(class="tech--#{code}")
    .tech__symbol
      block
    .tech__name= name

mixin hobby(icon, name, alternative, color)
  .hobby
    +icon(icon)(class="hobby__icon" style=(color ? `color: ${color}` : false))
    .hobby__name.name
      .name__main= name
      .name__alternative= alternative

doctype html
html(lang="it")
  head
    title #{title}

    meta(http-equiv="Accept-CH" content="DPR, Viewport-Width, Width")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    meta(name="description" content="#{description}")
    meta(name="keywords" content="#{keywords}")
    meta(name="author" content="#{author}")
    meta(name="theme-color" content="#{themeColor}")
    meta(name="apple-mobile-web-app-status-bar-style" content="#{themeColor}")

    meta(property="og:site_name" content="#{title}")
    meta(property="og:image" content="https://giko.it/assets/img/profilo-2017.jpg")
    meta(property="og:title" content="#{title}")
    meta(property="og:description" content="#{description}")
    meta(name="msapplication-config" content="/browserconfig.xml")

    link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#d40000")
    //- link(rel="shortcut icon" href="/favicon.ico")

    link(rel="manifest" href="/manifest.json")
    link(rel="author" href="/humans.txt" type="text/plain")
    link(rel="author" href="https://plus.google.com/u/0/+GiacomoZinetti")
    link(rel="stylesheet" href="/assets/css/critical.css" inline)
    //- link(rel="preload" href="/assets/css/giko.css" as="style")

  body#debug(class="non-è-acqua 👾")
    .page(itemscope itemtype="http://schema.org/Person")
      header.me
        picture.me__avatar
          source(srcset="/assets/img/profilo-2017.webp" type="image/webp")
          img(
            class="avatar"
            src="/assets/img/profilo-2017.jpg"
            alt="Giacomo Zinetti Foto"
            itemprop="image"
          )

        h1.me__name(itemprop="name") Giacomo <strong>Zinetti</strong>
        h2.me__title(itemprop="jobTitle") Geek Frontend Developer

      main
        section(id="🏢")
          +mainTitle('business', '🏢') Esperienze

          ol.works(reversed)
            +work('Kframe Interactive', 'http://kframeinteractive.com/', 'kframe', 'Frontend Developer', '2017', 'Microdata, Performance')
            +work('TheOutplay', 'http://www.theoutplay.com/', 'top', 'Frontend Developer', '2016', 'React, Redux, CSS in JS, GraphQL, Webpack')
            +work('Objectway', 'http://www.objectway.it/', 'ow', 'Frontend Developer', '2015', 'Sass, Gulp, BEM, ES2015, Pug')
            +work('Bryan', 'http://bryan.it/', 'bryan', 'Full-stack Developer', '2013', 'Wordpress, Nginx, Grunt, LESS, Tutoring')
            +work('Sowre', 'http://www.sowre.com/', 'sowre', 'Frontend Developer', '2013', 'Websphere, CSS, Javascript, Json, API')
            +work('Prodigys Group', 'http://www.prodigys.it/', 'prodigys', 'PHP Developer', '2010', 'Responsive, AWS, PHP, Python, Git')

        section(id="⭐️")
          +mainTitle('star', '⭐️') Specialità

          .techs
            +tech('Javascript', 'js')
              | […]
            +tech('CSS', 'css')
              | {;}
            +tech('HTML', 'html')
              | &lt;/&gt;
            +tech('Performance', 'perf')
              +icon('lightning')

        section(id="🎓")
          +mainTitle('school', '🎓') Formazione

          ol.education(reversed)
            li Continuo aggiornamento su siti di <strong>e-learning</strong> come <a href="https://www.coursera.org/">Coursera</a>, <a href="https://www.udemy.com/">Udemy</a> e <a href="https://www.udacity.com/">Udacity</a>.
            li Certificazione <strong><a href="https://www.ets.org/toefl">TOEFL</a></strong> 2007
            li(itemscope itemtype="http://schema.org/EducationalOrganization")
              | <strong>Ingegneria informatica</strong> al <a href="http://www.polimi.it/" itemprop="url"><span itemprop="name">Politecnico di Milano</span></a>
            li(itemscope itemtype="http://schema.org/EducationalOrganization")
              | Scuola superiore al <a href="http://www.gbgrassi.it/" itemprop="url"><span itemprop="name"><strong>Liceo Scientifico</strong> G. B. Grassi</span></a> di Saronno

        section(id="🤓")
          +mainTitle('computer', '🤓') Extra time

          p Nell'ottobre 2015 ho contribuito alla fondazione del gruppo <a href="https://twitter.com/milanofrontend/"><strong>Milano Front End</strong></a> organizzando meetup e preparando speech. Alcuni dei temi trattati diventano talk per <strong>conferenze</strong> (<a href="http://2016.cssday.it/#programma">CSSDay 2016 Faenza</a>) o articoli sul <a href="http://medium.giko.it">mio <strong>blog</strong></a>.

          p Nel 2014 ho fatto da <strong>revisore</strong> al libro <a href="https://www.packtpub.com/web-development/learning-single-page-web-application-development">Learning Single-page Web Application Development</a> pubblicato da <a href="https://www.packtpub.com/">Packt Publishing</a>.
        
        section(id="👇")
          a.download(href="/assets/pdf/zinetti-giacomo-cv.pdf") Download me!

      aside
        section(id="✉️")
          +title('place', '✉️') Contattami

          .contacts
            +social('email', 'mailto:42@giko.it')(itemprop="email")
            +social('profile', 'https://giko.it')(itemprop="url" rel="me")
            +social('twitter', 'http://twitter.giko.it')(itemprop="sameAs" rel="me")
            +social('github', 'http://github.giko.it')(itemprop="sameAs" rel="me")
            +social('codepen', 'http://codepen.giko.it')(itemprop="sameAs" rel="me")
            +social('medium', 'http://medium.giko.it')(itemprop="sameAs" rel="me")
            +social('linkedin', 'http://linkedin.giko.it')(itemprop="sameAs" rel="me")

        section(id="☀️")
          +title('sun', '☀️') Interessi

          .hobbies
            +hobby('flight', 'Viaggi', 'Mondo')
            +hobby('moto', 'Moto', 'Ducati', '#d40000')
            +hobby('mountain', 'Montagna', 'Relax')
            +hobby('boardgame', 'Boardgame', 'Strategia')
            +hobby('lego', 'Lego', 'Costruzioni')
            +hobby('juggle', 'Giocoleria', 'Divertimento')
            +hobby('starwars', 'Star Wars', 'Cinema')
            +hobby('escher', 'Escher', 'Impossibile')
            +hobby('tchouk', 'TchoukBall', 'Sport')

        section(id="💬")
          blockquote
            p Il tempo è una illusione. L'ora di pranzo è una doppia illusione.

    script(src="/assets/js/giko.js" async)
    noscript(id="deferred-styles")
      link(rel="stylesheet" href="/assets/css/giko.css")
      link(rel="stylesheet" href="/assets/css/hover.css" media="(hover: hover)")
      link(rel="stylesheet" href="/assets/css/touch.css" media="(hover: none)")
      link(rel="stylesheet" href="/assets/css/large.css" media="print, (min-width: 840px)")
      link(rel="stylesheet" href="/assets/css/print.css" media="print")
